## .NET
bin/
obj/
/packages/

## Node (client-app)
**/node_modules/
**/dist/
**/coverage/

## IDE and tooling
riderModule.iml
/_ReSharper.Caches/
.idea/
.DS_Store
build/
TestResults/
.vs/
*.user
*.suo
*.log
*.vspscc
*.vssscc
*.ncb
*.sln.docstates
*.pidb
*.pdb
*.cache
*.ilk
*.meta
*.obj
*.iobj
*.ipdb
nupkgs-local/